@model IEnumerable<MyTodoList.Data.Models.Job>

@{
ViewData["Title"] = "Todo";
}

<h2>Список завдань</h2>

<table class="table">
    <thead>
    <tr>
        <th>Завдання</th>
        <th>Категорія</th>
        <th>Прогрес</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var job in Model.OrderBy(j => j.IsDone))
    {
    <tr>
        <td>@job.Name</td>
        <td>@job.Category.Name</td>
        <td>
            @if (!job.IsDone)
            {
            <form asp-action="Todo" method="post">
                <input type="hidden" name="id" value="@job.Id"/>
                <button type="submit" class="btn btn-success">Завершити</button>
            </form>
            }
            else
            {
            <button type="submit" class="btn btn-outline-dark" disabled>Завершeно</button>
            }
        </td>
        <td></td>
    </tr>
    }
    </tbody>
</table>