html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main {
  min-height: 100vh;
}
td {
  border: none;
}

.jobs-line {
  transition: transform 0.1s;
  border-bottom: 1px solid #e0e0e0;
}

.jobs-line:hover {
  transform: scale(1.01);
  background-color: #f4f4f4;
}

.footer {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}